body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
button {
  width: 100%;
}
